{{ form_start(form) }}
<div class="form">
    <div>
        {{ form_row(form.name) }}
    </div>
    <div>
        {{ form_row(form.price) }}
    </div>
    <div>
        {{ form_row(form.description) }}
    </div>
    <div>
        {{ form_row(form.submit) }}
    </div>
</div>
{{ form_end(form) }}
<script>
    $(document).ready(function () {
        $('#price-input').on('input', function () {
            console.log($(this).val());
            $('#description-input').val(`Price is: ${$(this).val()}`);
        });
    });
</script>
